
<button class="btn btn-default pull-right" (click)="onButtonClicked()"
            role="button">
            <span class="glyphicon glyphicon-arrow-left">

            </span>
            {{isDetailPage ? 'Back to Report Page' : 'Go Back' }}</button>