<div class="box-footer">

    <button class="btn btn-primary pull-right" 
            (click)="onEditButtonClicked()" role="button">Edit</button>

    <!--<a class="btn btn-default pull-left" 
            [routerLink]="reportPageLink" role="button">Back to Report Page</a>-->

</div>