                    <p>Search</p>
                    <div class="row">
                        
                        <div class="col-md-1"></div>
                        
                        <div class="col-md-8">
                            <input type="text" 
                                placeholder="Search" 
                            class="form-control" 
                                    [formControl]="searchTextBox">
                        </div>
                        
                        <div class="col-md-1">

                            <button type="button" class="btn btn-success pull-right"
                                    [disabled]="isSearching || !searchTextBox?.value?.length>0" 
                                    (click)="onSearchButtonClicked()">
                                    <span >{{isSearching?'Searching':'Search'}}
                                        </span>
                                    
                            </button>

                        </div>
                    </div>

