<div class="my-table-options">
                    
    <select #selPageSize  (change)="pageSizeChanged(selPageSize.value)">
        <option value="5">5</option>
        <option value="25">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>

</div>