<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
        
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" [formControl]="term"
                    class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <!--<li class="treeview" *>
              <a href="#">
                <i class="fa fa-dashboard"></i> 
                <span>Dashboard</span> 
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="index.html">
                    <i class="fa fa-circle-o"></i> Dashboard v1</a>
                </li>
                <li><a href="index2.html">
                    <i class="fa fa-circle-o"></i> Dashboard v2</a>
                </li>
              </ul>
            </li>-->
            <li class="treeview" *ngFor="let menu of filteredMenus">
                <a [href]="menu.link? menu.link: '#'">
                    <i class="{{menu.cssClass}}"></i> 
                    <span>{{menu.name}} </span>
                    <i *ngIf = "menu.subMenus" class="fa fa-angle-left pull-right">
                    </i>
                </a>
                <ul *ngIf = "menu.subMenus" class="treeview-menu">
                    <li *ngFor="let subMenu of menu.subMenus">
                        <a [routerLink]="[subMenu.link]" [routerLinkActive]="['active']">
                            <i class="fa fa-circle-o"></i>
                            {{subMenu.name}}</a>
                    </li>
                </ul>
                
                
            </li>
         </ul>
        </section>
        <!-- /.sidebar -->
      </aside>