
html{
    font-size:12px;
}
fieldset {
    margin-bottom: 30px;
    border-bottom: solid 1px silver
    }
legend{
    font-size: 14px;
}
.main-header .logo{
    height:30px;
    line-height:30px;
}
.main-header>.navbar{
    max-height: 30px;
    min-height:30px;
}
.main-header .sidebar-toggle{
    padding:5px;
}

.navbar{
    max-height:30px;
}

.nav>li>a{
    padding: 5px;
}

.info-box-text{font-weight:bolder; font-size:18px;}
.info-box-links{display:block;font-size: 14px;margin-top: 20px;/*font-style: italic;*/color:black;}
.info-box-links a{text-decoration:underline; color:white}
/*.info-box-links a::after {content: " :: "; display:inline;}*/
.info-box-details {font-style:italic;color:black;text-overflow:ellipsis;overflow: hidden;display: block;white-space: nowrap;}
.info-box-content { margin-left :0px;}
.content-header{
    padding: 0px;
    background: #fafafa !important;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:20px;
    border-bottom: 1px solid #C2c2c2;
    
}
.content{padding-top:0px;}
input[type="submit"],input[type="reset"] {
    font-size:18px;
    /*width: 150px;*/
}
.resultHeader,.sectionHeader,.searchResults,.sectionFooter {
    color:#333;border:1px solid #C2C2C2;background:#fafafa; 
}

.sectionHeader p {
    margin: 5px;
    font-size:medium;
    font-weight:bold;
}
.searchBlock > div {
    border:1px solid #C2C2C2;
}
.fieldsBlock > div {
    border:1px solid #C2C2C2;
}
/*for the field validation error*/
/*.fieldsBlock .field-validation-error {
    margin-left:20%;
}*/
.searchBlock > .row ,.searchResults > .row, .fieldsBlock > .row{
    margin-left:0px;
    margin-right:0px;
    padding:25px 0px;
}
.searchResults {
    margin-top:15px;
    background:#ffffff;
}
.fieldsFooter{
    padding:5px 10px !important;
}
.fieldsFooter .btn{
    padding: 1px 6px;
    font-size: 16px;
}
/*.fieldsBlock label{
    margin-left:5%;
    margin-bottom:0;
    width:15%;
    padding-top: 7px;
    text-align:left !important;
}*/
.fieldsBlock .form-control{
    /*margin-left:5%;*/
    width:65%;
    display:inline-block;
}
.fixed .content-wrapper{
    padding-top:30px;
}
/*.input-group .form-control {
    width:80.5%;
} */
.form-group.has-error label{
    color: #333;
}
.form-group.has-error span{
    color: #dd4b39;
}

/*input.ng-invalid.ng-touched{
    border-color: #dd4b39;
    box-shadow:none;
    color: #dd4b39;
}*/

.no-left-pad{
    padding-left: 0px !important;
}

.my-pagination li {
    font-size: 15px !important;
}
.my-pagination li a:hover{
    cursor:pointer;
    text-decoration: none;
}
.my-box-header{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.my-header-title, .my-table-options{
    border:1px solid #ddd;
    margin-bottom: 0px !important;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
}
/*p.my-header-title{

}*/
.my-box-body{
    padding-top: 0px !important;
}

.my-box{
    border-top:0px;
    padding-top: 8px;
}
.my-search-box{
    padding-bottom: 5px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
}
.my-search-box .row{
    margin-right:0px;
    margin-left : 0px;
}

.table tr:hover { 
   
    /*cursor:pointer;*/
    background: #ecf3f8 !important;
}
.box-body .row {
    margin-left:0px;
}
