
 <my-template>
            <my-template-title>

                <h3 class="box-title">Customer Details</h3>
                <!--<p class="box-title">Customer Id: {{customer?.customerID}}</p>-->

                <back-button (backButtonClicked)="gotoReportPage($event)"></back-button>

            </my-template-title>
            
            <my-template-body>
                 
                    <div class="box-body">
                        <div class="row">
                           <div class="col-md-6">
                               <span>Customer ID:</span>
                               <span class="label label-default">{{customer?.customerID}}</span>
                           </div>
                        </div>

                      <div  class="row">
                           <div class="col-md-6">
                               <span>First Name:</span>
                               <span class="label label-default">{{customer?.firstName}}</span>
                           </div>
                           <div class="col-md-6">
                               <span>Last Name:</span>
                                <span class="label label-default">{{customer?.lastName}}</span>
                           </div>
                      </div>

                      <div  class="row">
                           <div class="col-md-6">
                               <span>Other Name:</span>
                               <span class="label label-default">{{customer?.otherNames}}</span>
                           </div>
                           <div class="col-md-6">
                               <span>Email:</span>
                                <span class="label label-default">{{customer?.email}}</span>
                           </div>
                      </div>

                      <div class="row">
                           
                           <div class="col-md-6">
                               <span>Phone Number:</span>
                                <span class="label label-default">{{customer?.phoneNumber}}</span>
                           </div>
                           <div class="col-md-6">
                               <span>Address:</span>
                               <span class="label label-default">{{customer?.address}}</span>
                           </div>
                      </div> 

                      <div  class="row">
                           <div class="col-md-6">
                               <span>Gender:</span>
                               <span class="label label-default">
                                   {{customer?.gender == 1?"Male":"Female"}}</span>
                           </div>
                      </div>
                      <div class="row">
                          <spinner [visible]='isLoading'></spinner>
                      </div>               
                      
                    </div>

                    <!--<detail-view-footer 
                            [editPageLink]="['/BranchManagement/Edit',user?.id]"
                            [reportPageLink]="['/BranchManagement']">
                            </detail-view-footer>-->

                    <detail-view-footer (editButtonClicked)="gotoEditPage($event)"></detail-view-footer>        


                    <!--<div class="box-footer">
                        <a class="btn btn-primary pull-right" 
                            [class.disabled] = 'isLoading || failedToLoad'
                             [routerLink]="['/BranchManagement/Edit',user?.id]" role="button">Edit user</a>

                        <a class="btn btn-default pull-left" 
                            [class.disabled] = 'isLoading || failedToLoad'
                             [routerLink]="['/BranchManagement']" role="button">Back to Report Page</a>
                   </div>-->
                   
                    <!--
                        <button type="submit" 
                                class="btn btn-primary"
                                [disabled]="!f.valid">
                                Edit user
                        </button>
                  </div>-->
                
            </my-template-body>
        </my-template>