   
        <my-report-template>
            <my-report-template-title>
                <h3 class="box-title">Search</h3>
                
            </my-report-template-title>
            
            <my-report-template-form>
                <search [isSearching]="isSearching" (onSearch)="doSearch($event)"></search>
                
            </my-report-template-form>
            
            <my-report-template-title-2>
                Users 
            </my-report-template-title-2>
            
            <my-report-template-column-rows>
                <table-option (page-size-changed)=pageSizeChanged($event)></table-option>
                <!--<div class="my-table-options">
                    
                    <select #selPageSize  (change)="pageSizeChanged(selPageSize.value)">
                        <option value="2">2</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>

                </div>-->

                 <table id="" class="table table-bordered table-striped" >
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Branch</th>
                            <th>Phone Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf = '!isLoading' >
                        <!--<tr (click)="gotoDetailsPage(item.id)" *ngFor="#item of _data | 
                                        paginate: { id: 'server', itemsPerPage: _pageSize, 
                                                    currentPage: _page, totalItems: _total} #i = index">
                            <td>{{item.name}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.isBranchOpen ?'Open':'Closed'}}</td>
                            
                        </tr>-->
                        <tr  *ngFor="let item of _data">
                            <td>{{item.userName}}</td>
                            <td>{{item.firstName}}</td>
                            <td>{{item.lastName}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.branchName}}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td> 
                                <button class="btn btn-primary btn-xs" (click)="gotoDetailsPage(item.id)" title="Edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button> 
                           </td>
                            
                        </tr>
                        
                    </tbody>
                    
                </table>
                <spinner [visible]='_isLoading'></spinner>

                <div *ngIf = "_total == 0">
                    <span>No result to display</span>
                </div>

                <div class="my-pagination" *ngIf = "_total != 0">
                    <pagination [totalCount]="_total" [page-size]="_pageSize" 
                        (page-changed)= "onPageChanged($event)"></pagination>
                </div>

                    
                
            </my-report-template-column-rows>
            
            
            
        </my-report-template>
                        
                    