
 <my-template>
            <my-template-title>
                <h3 class="box-title">Customer Account Details</h3>
                <back-button (backButtonClicked)="gotoReportPage($event)"></back-button>
            </my-template-title>
            
            <my-template-body>
                <div class="box-body">
                    <fieldset>
                        <legend>Customer Information</legend>
                        
                        <div  class="row">
                            <div class="col-md-4">
                                <span>Customer Id:</span>
                                <span class="label label-default">{{customerAcc?.customerCustomerId}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>First Name:</span>
                                <span class="label label-default">{{customerAcc?.customerFirstName}}</span>
                            </div>
                        </div>
                        <div  class="row">
                            <div class="col-md-4">
                                <span>Last Name:</span>
                                <span class="label label-default">{{customerAcc?.customerLastName}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>Other Name:</span>
                                <span class="label label-default">{{customerAcc?.customerOtherNames}}</span>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset >
                        <legend>Account Information</legend>
                        <div  class="row">
                            <div class="col-md-4">
                                <span>Account Name:</span>
                                <span class="label label-default">{{customerAcc?.name}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>Account Type:</span>
                                <span class="label label-default">
                                    {{customerAcc?.accountType ==1?'Savings':'Current'}}</span>
                            </div>
                            
                        </div>
                        <div  class="row">
                            <div class="col-md-4">
                                <span>Account Number:</span>
                                <span class="label label-default">{{customerAcc?.accountNumber}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>Branch:</span>
                                <span class="label label-default">{{customerAcc?.branchName}}</span>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <detail-view-footer (editButtonClicked)="gotoEditPage($event)"></detail-view-footer>
            </my-template-body>
        </my-template>