   <!-- Content Header (Page header) -->
        

<my-template>
    <my-template-title>
        <h3 class="box-title">{{isEditMode?'Edit User':'Add User'}}</h3>
        <back-button [isDetailPage]="false" (backButtonClicked)="gotoDetailsPage($event)"></back-button>

    </my-template-title>
    
    <my-template-body>
            <form *ngIf="!failedToLoad"
                    role="form" [formGroup] = "form" (ngSubmit)="submit()">
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.firstName.touched && form.controls.firstName.errors">
                        <label for="">First Name</label>
                        <input type="text" placeholder="First Name" class="form-control" 
                                [(ngModel)]="user.firstName"
                            formControlName = "firstName">
                        
                        <div *ngIf="form.controls.firstName.touched && form.controls.firstName.errors">
                            <span
                                *ngIf = form.controls.firstName.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                First Name is required
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.lastName.touched && form.controls.lastName.errors">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="Last Name" class="form-control" 
                                [(ngModel)]="user.lastName"
                            formControlName = "lastName">
                        
                        <div *ngIf="form.controls.lastName.touched && form.controls.lastName.errors">
                            <span
                                *ngIf = form.controls.lastName.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Last Name is required
                            </span>
                        </div>
                    </div>   

                </div>
                
                <div class="row">
                    <div class="form-group col-md-6 no-left-pad clearfix" 
                        [class.has-error]="form.controls.otherName.touched && form.controls.otherName.errors">
                        <label for="">Other Name</label>
                        <input type="text" placeholder="Other Name" class="form-control" 
                                [(ngModel)]="user.otherNames"
                            formControlName = "otherName">
                    </div>
                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.email.touched && form.controls.email.errors">
                        <label for="">Email</label>
                        <input type="text" placeholder="Email" class="form-control" 
                                [(ngModel)]="user.email"
                            formControlName = "email">
                        
                        <div *ngIf="form.controls.email.touched && form.controls.email.errors">
                            <span
                                *ngIf = form.controls.email.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Email is required
                            </span>
                            <span
                                *ngIf = " !form.controls.email.errors.required && 
                                        form.controls.email.errors.incorrectMailFormat" 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Invalid Email Format
                            </span>
                        </div>
                    </div>  
                </div>
                <div class="row">
                  
                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.userName.touched && 
                        form.controls.userName.errors">
                        <label for="">User Name</label>
                        <input type="text" placeholder="User Name" class="form-control" 
                                [(ngModel)]="user.userName"
                            formControlName = "userName">
                        
                        <div *ngIf="form.controls.userName.touched && 
                            form.controls.userName.errors">
                            <span
                                *ngIf = "form.controls.userName.errors.required" 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                User Name is required
                            </span>
                        </div>
                    </div>  

                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.phoneNumber.touched 
                                    && form.controls.phoneNumber.errors">

                        <label for="">Phone Number</label>
                        <input type="text" placeholder="Phone Number" class="form-control" 
                                [(ngModel)]="user.phoneNumber"
                            formControlName = "phoneNumber">
                        
                        <div *ngIf="form.controls.phoneNumber.touched 
                                    && form.controls.phoneNumber.errors">
                            <span
                                *ngIf = form.controls.phoneNumber.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Phone Number is required
                            </span>
                            <span
                                *ngIf ="!form.controls.phoneNumber.errors.required &&
                                        form.controls.phoneNumber.errors.invalidPhoneNumber"
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Phone Number is invalid
                            </span>
                        </div>
                    </div> 
                </div>

                <!--<div class="row" formGroupName="matchPassword">
                  
                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.matchPassword.controls.password.touched && 
                        form.controls.matchPassword.controls.password.errors">
                        <label for="">Password</label>
                        <input type="text" placeholder="Password" class="form-control" 
                                [(ngModel)]="user.password"
                            formControlName = "password">
                        
                        <div *ngIf="form.controls.matchPassword.controls.password.touched && 
                        form.controls.matchPassword.controls.password.errors">
                            <span
                                *ngIf = form.controls.matchPassword.controls.password.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Password is required
                            </span>
                        </div>
                    </div>  

                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.matchPassword.controls.confirmPassword.touched 
                                    && form.controls.matchPassword.errors">

                        <label for="">Confirm Password</label>
                        <input type="text" placeholder="Confirm Password" class="form-control" 
                                [(ngModel)]="user.confirmPassword"
                            formControlName = "confirmPassword">
                        
                        <div *ngIf="form.controls.matchPassword.controls.confirmPassword.touched 
                                    && form.controls.matchPassword.errors">
                            <span
                                *ngIf = form.controls.matchPassword.errors.unmatched 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Confirm Password does not match Password
                            </span>
                        </div>
                    </div> 
                </div>-->

                <div class="row">
                    <div class="form-group col-md-6 no-left-pad clearfix" 
                        [class.has-error]="form.controls.branch.touched && form.controls.branch.errors">
                        <label for="">
                            Branch
                        </label>
                        <div *ngIf = "isBranchesLoading">Loading Branches..</div>
                        <select  *ngIf = "!isBranchesLoading" formControlName ="branch" class="form-control" 
                                [(ngModel)]="user.branchId">
                            <option value="" disabled>---Select Branch---</option>  
                            <option value="{{b?.id}}" *ngFor="let b of branches">
                                {{b?.name}}
                            </option>
                        </select>
                        <div *ngIf="form.controls.branch.touched && form.controls.branch.errors">
                            <span
                                *ngIf = form.controls.branch.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Branch is required
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.role.touched && form.controls.role.errors">
                        <label for="">Role</label>
                        <div *ngIf = "isBranchesLoading">Loading Branches..</div>
                        <select *ngIf = "!isBranchesLoading" formControlName ="role" class="form-control" 
                                [(ngModel)]="user.role">
                            <option value="" disabled>---Select Role---</option>  
                            <option value="{{r?.name}}" *ngFor="let r of roles">
                                {{r?.name}}
                            </option>
                        </select>
                        
                        
                        <div *ngIf="form.controls.role.touched && form.controls.role.errors">
                            <span
                                *ngIf = form.controls.role.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Role is required
                            </span>
                        </div>
                    </div>  
                </div>
                 
                                 
            </div>
 
            <div class="box-footer">
                <button type="submit" 
                        class="btn btn-success pull-right"
                        [disabled]="!form.valid || isLoading">
                        <span *ngIf = "!isLoading">{{isEditMode?"Update":"Save"}}
                            </span>

                        <span *ngIf = "isLoading">{{isEditMode?"Updating...":"Saving..."}}
                        </span>

                </button>

                <!--<button type="submit" *ngIf = "isEditMode"
                        class="btn btn-primary" (click)="gotoDetailsPage()">
                        Go to Details Page

                </button>-->
            </div>
        </form>
        <spinner [visible]='isLoading'></spinner>
        <p class="text-danger" *ngIf= 'failedToLoad && !notFound'>Could not retrieve the branch. Please check your network settings</p>
        <p class="text-danger" *ngIf= 'notFound'>The branch does not exist or might have been removed</p>
    </my-template-body>
</my-template>
                        
                    