   <!-- Content Header (Page header) -->
        

<my-template>
    <my-template-title>
        <h3 class="box-title">{{isEditMode?'Edit Branch':'Add Branch'}}</h3>
        <back-button [isDetailPage]="false" (backButtonClicked)="gotoDetailsPage($event)"></back-button>

    </my-template-title>
    
    <my-template-body>
            <form *ngIf="!isLoading && !failedToLoad"
                    role="form" [formGroup] = "form" (ngSubmit)="submit()">
            <div class="box-body">
                <div class="form-group col-md-6 no-left-pad" 
                    [class.has-error]="form.controls.name.touched && form.controls.name.errors">
                    <label for="">Branch Name</label>
                    <input type="text" placeholder="Branch Name" class="form-control" 
                            [(ngModel)]="branch.name"
                        formControlName = "name">
                    
                    <div *ngIf="form.controls.name.touched && form.controls.name.errors">
                        <span
                            *ngIf = form.controls.name.errors.required 
                            >
                            <i class="fa fa-times-circle-o"></i>  
                            Branch Name is required
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-6 no-left-pad" 
                    [class.has-error]="form.controls.address.touched && form.controls.address.errors">
                    <label for="">Address</label>
                    <input type="text" placeholder="Branch Address" class="form-control" 
                        [(ngModel)]="branch.address"
                        formControlName = "address">
                    
                    <div *ngIf="form.controls.address.touched && form.controls.address.errors">
                        <span
                            *ngIf = form.controls.address.errors.required 
                            >
                            <i class="fa fa-times-circle-o"></i>  
                            Branch Address is required
                        </span>
                    </div>
                </div>                 
            </div>
            <div class="box-footer">
                <button type="submit" 
                        class="btn btn-success pull-right"
                        [disabled]="!form.valid || isLoading">
                        {{isEditMode?"Update":"Save"}}

                </button>

                <!--<button type="submit" *ngIf = "isEditMode"
                        class="btn btn-primary" (click)="gotoDetailsPage()">
                        Go to Details Page

                </button>-->
            </div>
        </form>
        <spinner [visible]='isLoading'></spinner>
        <p class="text-danger" *ngIf= 'failedToLoad && !notFound'>Could not retrieve the branch. Please check your network settings</p>
        <p class="text-danger" *ngIf= 'notFound'>The branch does not exist or might have been removed</p>
    </my-template-body>
</my-template>
                        
                    