<div class="col-md-3">
    <button type="button" class="btn btn-primary" (click) = "goBack()" aria-label="Back Button">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </button>

    <button type="button" class="btn btn-primary" aria-label="Forward Button">
        <span class="glyphicon glyphicon-arrow-right"  aria-hidden="true" ></span>
    </button>
</div>