
        <my-report-template>
            <my-report-template-title>
                <h3 class="box-title">Search</h3>
                
            </my-report-template-title>
            
            <my-report-template-form>
                <search [isSearching]="isSearching" (onSearch)="doSearch($event)"></search>
            </my-report-template-form>
            
            <my-report-template-title-2>
                Customer Accounts
            </my-report-template-title-2>
            
            <my-report-template-column-rows>
                <table-option (page-size-changed)=pageSizeChanged($event)></table-option>
               
                 <table id="" class="table table-bordered table-striped" >
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Account Number</th>
                            <th>Account Type</th>
                            <th>Customer Id</th>
                            <th>Branch</th>
                            <!--<th>Phone Number</th>-->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf = '!isLoading' >
                    
                        <tr  *ngFor="let item of _data">
                            <td>{{item.name}}</td>
                            <td>{{item.accountNumber}}</td>
                            <td>{{item.accountType ==1?'Savings':'Current'}}</td>
                            <td>{{item.customerId}}</td>
                            <td>{{item.branchName}}</td>
                            <td> 
                                <button class="btn btn-primary btn-xs" (click)="gotoDetailsPage(item.id)" title="Edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button> 
                           </td>
                            
                        </tr>
                        
                    </tbody>
                    
                </table>
                <spinner [visible]='_isLoading'></spinner>

                <div *ngIf = "_total == 0">
                    <span>No result to display</span>
                </div>

                <div class="my-pagination" *ngIf = "_total != 0">
                    <pagination [totalCount]="_total" [page-size]="_pageSize" 
                        (page-changed)= "onPageChanged($event)"></pagination>
                </div>

            </my-report-template-column-rows>
            
            
            
        </my-report-template>
                        
                    