   <!-- Content Header (Page header) -->
        

<my-template>
    <my-template-title>
        <h3 class="box-title">{{isEditMode?'Edit Customer':'Add Customer'}}</h3>
        <back-button [isDetailPage]="false" (backButtonClicked)="gotoDetailsPage($event)"></back-button>

    </my-template-title>
    
    <my-template-body>
            <form *ngIf="!failedToLoad"
                    role="form" [formGroup] = "form" (ngSubmit)="submit()">
            <div class="box-body">
                <div class="row" *ngIf="isEditMode">
                    <div class="form-group col-md-6 no-left-pad">
                        <label for="">Customer ID:</label>
                        <span class="label label-default">{{customer?.customerID}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.firstName.touched && form.controls.firstName.errors">
                        <label for="">First Name</label>
                        <input type="text" placeholder="First Name" class="form-control" 
                                [(ngModel)]="customer.firstName"
                            formControlName = "firstName">
                        
                        <div *ngIf="form.controls.firstName.touched && form.controls.firstName.errors">
                            <span
                                *ngIf = form.controls.firstName.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                First Name is required
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.lastName.touched && form.controls.lastName.errors">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="Last Name" class="form-control" 
                                [(ngModel)]="customer.lastName"
                            formControlName = "lastName">
                        
                        <div *ngIf="form.controls.lastName.touched && form.controls.lastName.errors">
                            <span
                                *ngIf = form.controls.lastName.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Last Name is required
                            </span>
                        </div>
                    </div>   

                </div>
                
                <div class="row">
                    <div class="form-group col-md-6 no-left-pad clearfix" 
                        [class.has-error]="form.controls.otherName.touched && form.controls.otherName.errors">
                        <label for="">Other Name</label>
                        <input type="text" placeholder="Other Name" class="form-control" 
                                [(ngModel)]="customer.otherNames"
                            formControlName = "otherName">
                    </div>
                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.email.touched && form.controls.email.errors">
                        <label for="">Email</label>
                        <input type="text" placeholder="Email" class="form-control" 
                                [(ngModel)]="customer.email"
                            formControlName = "email">
                        
                        <div *ngIf="form.controls.email.touched && form.controls.email.errors">
                            <span
                                *ngIf = form.controls.email.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Email is required
                            </span>
                            <span
                                *ngIf = " !form.controls.email.errors.required && 
                                        form.controls.email.errors.incorrectMailFormat" 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Invalid Email Format
                            </span>
                        </div>
                    </div>  
                </div>

                <div class="row">
                  
                    <div class="form-group col-md-6 no-left-pad" 
                        [class.has-error]="form.controls.phoneNumber.touched 
                                    && form.controls.phoneNumber.errors">

                        <label for="">Phone Number</label>
                        <input type="text" placeholder="Phone Number" class="form-control" 
                                [(ngModel)]="customer.phoneNumber"
                            formControlName = "phoneNumber">
                        
                        <div *ngIf="form.controls.phoneNumber.touched 
                                    && form.controls.phoneNumber.errors">
                            <span
                                *ngIf = form.controls.phoneNumber.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Phone Number is required
                            </span>
                            <span
                                *ngIf ="!form.controls.phoneNumber.errors.required &&
                                        form.controls.phoneNumber.errors.invalidPhoneNumber"
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Phone Number is invalid
                            </span>
                        </div>
                    </div> 
                    <div class="form-group col-md-6 no-left-pad" 
                            [class.has-error]="form.controls.address.touched && form.controls.address.errors">
                        <label for="">Address</label>
                        <!--<textArea class="form-control" formControlName= "address" 
                                        [(ngModel)]="customer.address"><textArea>-->
                        <input type="text" placeholder="Customer Address" class="form-control" 
                                [(ngModel)]="customer.address"
                                formControlName = "address">

                        <div *ngIf="form.controls.address.touched && form.controls.address.errors">
                            <span
                                *ngIf = form.controls.address.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Customer Address is required
                            </span>
                        </div>
                    </div>  
                </div>
                <div class="row">
                    <div class="form-group col-md-6 no-left-pad clearfix" 
                        [class.has-error]="form.controls.gender.touched && form.controls.gender.errors">
                        <label for="">
                            Gender
                        </label>
                        <select formControlName ="gender" class="form-control" 
                                [(ngModel)]="customer.gender">
                            <option value="" disabled>---Select Gender---</option>  
                            <option value="1">
                                Male
                            </option>
                            <option value="2">
                                Female
                            </option>
                        </select>
                        <div *ngIf="form.controls.gender.touched && form.controls.gender.errors">
                            <span
                                *ngIf = form.controls.gender.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Gender is required
                            </span>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="box-footer">
                <button type="submit" 
                        class="btn btn-success pull-right"
                        [disabled]="!form.valid || isLoading">
                        <span *ngIf = "!isLoading">{{isEditMode?"Update":"Save"}}
                            </span>

                        <span *ngIf = "isLoading">{{isEditMode?"Updating...":"Saving..."}}
                        </span>

                </button>
            </div>
        </form>
        <spinner [visible]='isLoading'></spinner>
        <p class="text-danger" *ngIf= 'failedToLoad && !notFound'>Could not retrieve the customer. Please check your network settings</p>
        <p class="text-danger" *ngIf= 'notFound'>The customer does not exist or might have been removed</p>
    </my-template-body>
</my-template>
                        
                    