<!--<nav *ngIf="numberOfPages > 1">

            <ul class="pagination">

                <li [class.disabled]="currentPage == 1">
                    <a aria-label="Previous"
                        (click)="gotoPreviousPage()">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li *ngFor="#pageNo of pagesNumbers"
                    [class.active]="pageNo == currentPage">
                    <a (click)='pageClicked(pageNo)'>{{pageNo}}</a>
                </li>
                
                <li [class.disabled]="currentPage==numberOfPages" >    
                    <a aria-label="Next"
                        (click)="gotoNextPage()">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>-->

        <div class="pull-left">
            <span>Showing {{firstItemInPage}} to {{lastItemInPage}} of {{totalNumberOfItems}} entries</span>
        </div>
        <div class="pull-right">
            <!--<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>-->
            <!--<pagination [totalCount]="_total" [page-size]="_pageSize" (page-changed)= "onPageChanged($event)"></pagination>-->

            <nav *ngIf="numberOfPages > 1">

                <ul class="pagination">

                        <li [class.disabled]="currentPage == 1">
                            <a aria-label="Previous"
                                (click)="gotoPreviousPage()">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li *ngFor="let pageNo of pagesNumbers"
                            [class.active]="pageNo == currentPage">
                            <a (click)='pageClicked(pageNo)'>{{pageNo}}</a>
                        </li>
                        
                        <li [class.disabled]="currentPage==numberOfPages" >    
                            <a aria-label="Next"
                                (click)="gotoNextPage()">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                </ul>
            </nav>
            
        </div>