
<div class="login-page">
    <div class="login-box">


      <div class="login-logo">
        <b>Admin</b>LTE
      </div><!-- /.login-logo -->
      <div class="login-box-body">
          
            <p class="login-box-msg">Sign in to start your session</p>

            <form [formGroup]= "form" (ngSubmit)="submit()">

                <div class="form-group has-feedback" [class.has-error] = "form.control?.username.touched && form.control?.username.errors">
                    
                        <input type="text" class="form-control"  placeholder="Username" 
                                formControlName="username" [(ngModel)]="_username">

                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

                        <div *ngIf="form.control?.username.touched && form.control?.username.errors">
                            <span
                                *ngIf = form.control?.username.errors.required 
                                >
                                <i class="fa fa-times-circle-o"></i>  
                                Username is required
                            </span>
                        </div>

                </div><!--form-group-->

                <div class="form-group has-feedback" [class.has-error] = "form.control?.password.touched && form.control?.password.errors">

                    <input type="password" class="form-control" placeholder="Password"
                        formControlName="password"  [(ngModel)]="_password">

                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                    
                    <div *ngIf="form.control?.password.touched && form.control?.password.errors">
                        <span
                            *ngIf = form.control?.password.errors.required 
                            >
                            <i class="fa fa-times-circle-o"></i>  
                            Password is required
                        </span>
                    </div>


                </div><!--form-group-->

                <div class="row">

                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                            <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div><!-- /.col -->

                    <div class="col-xs-4" *ngIf= "!_isLoading">
                   	    <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!form.valid || _isLoading">Sign In</button>
                    </div><!-- /.col -->
                    <spinner [visible]="_isLoading"></spinner>
                </div>

            </form>

        <!--<div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
        </div> /.social-auth-links -->

        <a *ngIf="!_isLoading">I forgot my password</a><br>
        <!--<a href="register.html" class="text-center">Register a new membership</a>-->

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
</div>
