
 <my-template>
            <my-template-title>

                <h3 class="box-title">User Details</h3>

                <back-button (backButtonClicked)="gotoReportPage($event)"></back-button>

            </my-template-title>
            
            <my-template-body>
                 
                    <div class="box-body">

                       <div  *ngIf ='!isLoading' class="row">
                           <div class="col-md-6">
                               <span>User Name:</span>
                               <span class="label label-default">{{user?.userName}}</span>
                           </div>
                           <div class="col-md-6">
                               <span>Email:</span>
                                <span class="label label-default">{{user?.email}}</span>
                           </div>
                      </div>  

                      <div  *ngIf ='!isLoading' class="row">
                           <div class="col-md-6">
                               <span>First Name:</span>
                               <span class="label label-default">{{user?.firstName}}</span>
                           </div>
                           <div class="col-md-6">
                               <span>Last Name:</span>
                                <span class="label label-default">{{user?.lastName}}</span>
                           </div>
                      </div>

                      <div  *ngIf ='!isLoading' class="row">
                           <div class="col-md-6">
                               <span>Other Name:</span>
                               <span class="label label-default">{{user?.otherNames}}</span>
                           </div>
                           <div class="col-md-6">
                               <span>Phone Number:</span>
                                <span class="label label-default">{{user?.phoneNumber}}</span>
                           </div>
                      </div>

                      <div  *ngIf ='!isLoading' class="row">
                           <div class="col-md-6">
                               <span>Branch:</span>
                               <span class="label label-default">{{user?.branchName}}</span>
                           </div>
                           <div class="col-md-6">
                               <span>Role:</span>
                                <span class="label label-default">{{user?.role}}</span>
                           </div>
                      </div>

                      <div class="row">
                          <spinner [visible]='isLoading'></spinner>
                      </div>               
                      
                    </div>

                    <!--<detail-view-footer 
                            [editPageLink]="['/BranchManagement/Edit',user?.id]"
                            [reportPageLink]="['/BranchManagement']">
                            </detail-view-footer>-->

                    <detail-view-footer (editButtonClicked)="gotoEditPage($event)"></detail-view-footer>        


                    <!--<div class="box-footer">
                        <a class="btn btn-primary pull-right" 
                            [class.disabled] = 'isLoading || failedToLoad'
                             [routerLink]="['/BranchManagement/Edit',user?.id]" role="button">Edit user</a>

                        <a class="btn btn-default pull-left" 
                            [class.disabled] = 'isLoading || failedToLoad'
                             [routerLink]="['/BranchManagement']" role="button">Back to Report Page</a>
                   </div>-->
                   
                    <!--
                        <button type="submit" 
                                class="btn btn-primary"
                                [disabled]="!f.valid">
                                Edit user
                        </button>
                  </div>-->
                
            </my-template-body>
        </my-template>