<my-template>
    <my-template-title>
        <h3 class="box-title">{{isEditMode?'Edit Customer Account':'Add Customer Account'}}</h3>
        <back-button [isDetailPage]="false" (backButtonClicked)="gotoDetailsPage($event)"></back-button>
    </my-template-title>
     <modal #modal>
            <modal-header>
                Choose Customer
            </modal-header>
            <modal-body>
                <div class="row">
                    <div class="row">
                        <div class="col-md-1">
                            <label for="">Search</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" 
                                placeholder="First Name or Last Name or Customer Id" 
                            class="form-control" 
                                    [formControl]="searchTextBox">
                        </div>
                        
                        <div class="col-md-1">

                            <button type="button" class="btn btn-success pull-right"
                                    [disabled]="isSearching || !searchTextBox?.value?.length>0" 
                                    (click)="searchCustomer()">
                                    <span >{{isSearching?'Searching':'Search'}}
                                        </span>
                                    
                            </button>


                        </div>
                    </div>
                </div>
                <div class="row my-box">
                    <table id="" class="table table-bordered table-striped" >
                    <thead> 
                        <tr>
                            <th>Customer ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf = '!isLoading' >
                    
                        <tr  *ngFor="let item of filteredCustomers, let i=index">
                            <td>{{item.customerID}}</td>
                            <td>{{item.firstName}}</td>
                            <td>{{item.lastName}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.gender==1?"Male":"Female"}}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td> 
                                <button class="btn btn-primary btn-xs" (click)="onCustomerSelected(i);modal.dismiss()" title="Select">
                                    Select
                                </button> 
                           </td>
                            
                        </tr>
                        
                    </tbody>
                    
                </table>
                </div>
                
            </modal-body>
            <modal-footer [show-default-buttons]="false"></modal-footer>
        </modal>
    <my-template-body>
            <form *ngIf="!failedToLoad"
                    role="form" [formGroup] = "form" (ngSubmit)="submit()">
            <div class="box-body">
                <fieldset>
                    <legend>Customer Information</legend>
                     <button *ngIf="!isEditMode" type="button" class="btn btn-xs btn-primary pull-right"
                                (click)="modal.open('lg')">
                                <span >{{customerSelected?'Change':'Select'}} Customer
                                    </span>
                        </button>
                    <div  class="row">
                        <div class="col-md-4">
                            <span>Customer Id:</span>
                            <span class="label label-default">{{customerAcc?.customerCustomerId}}</span>
                        </div>
                        <div class="col-md-4">
                            <span>First Name:</span>
                            <span class="label label-default">{{customerAcc?.customerFirstName}}</span>
                        </div>
                        
                    </div>
                    <div  class="row">
                        <div class="col-md-4">
                            <span>Last Name:</span>
                            <span class="label label-default">{{customerAcc?.customerLastName}}</span>
                        </div>
                           <div class="col-md-4">
                            <span>Other Name:</span>
                            <span class="label label-default">{{customerAcc?.customerOtherNames}}</span>
                        </div>
                    </div>
                  
                </fieldset>

                <fieldset [disabled]="!customerSelected">
                    <legend>Account Information</legend>
                    <!--<div class="row" *ngIf="isEditMode">
                        <div class="form-group col-md-6 no-left-pad">
                            <label for="">Customer Account ID:</label>
                            <span class="label label-default">{{customerAcc?.customerAccID}}</span>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="form-group col-md-6 no-left-pad" 
                            [class.has-error]="form.controls.name.touched && form.controls.name.errors">
                            <label for="">Account Name</label>
                            <input type="text" placeholder="Account Name" class="form-control" 
                                    [(ngModel)]="customerAcc.name"
                                formControlName = "name">
                            
                            <div *ngIf="form.controls.name.touched && form.controls.name.errors">
                                <span
                                    *ngIf = form.controls.name.errors.required 
                                    >
                                    <i class="fa fa-times-circle-o"></i>  
                                    Account Name is required
                                </span>
                            </div>
                        </div>
                        <div  class="form-group col-md-6 no-left-pad clearfix" 
                            [class.has-error]="form.controls.accountType.touched && form.controls.accountType.errors">
                            <label for="">
                                Choose Account Type
                            </label>
                            <select  formControlName ="accountType" class="form-control" 
                                    [(ngModel)]="customerAcc.accountType">
                                <option value="" disabled>---Select Account Type---</option>  
                                <option value="1">
                                    Savings
                                </option>
                                <option value="2">
                                    Current
                                </option>
                            </select>
                            <div *ngIf="form.controls.accountType.touched && form.controls.accountType.errors">
                                <span
                                    *ngIf = form.controls.accountType.errors.required 
                                    >
                                    <i class="fa fa-times-circle-o"></i>  
                                    Account Type is required
                                </span>
                            </div>
                        </div>  

                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-6 no-left-pad clearfix" 
                            [class.has-error]="form.controls.branch.touched && form.controls.branch.errors">
                            <label for="">
                                Branch
                            </label>
                            <div *ngIf = "isBranchesLoading">Loading Branches..</div>
                            <select *ngIf = "!isBranchesLoading" formControlName ="branch" class="form-control" 
                                    [(ngModel)]="customerAcc.branchId">
                                <option value="" disabled>---Select Branch---</option>  
                                <option value="{{b?.id}}" *ngFor="let b of branches">
                                    {{b?.name}}
                                </option>
                            </select>
                            <div *ngIf="form.controls.branch.touched && form.controls.branch.errors">
                                <span
                                    *ngIf = form.controls.branch.errors.required 
                                    >
                                    <i class="fa fa-times-circle-o"></i>  
                                    Branch is required
                                </span>
                            </div>
                        </div>
                        
                    </div>
                </fieldset>
                
            </div>
            <div class="box-footer">
                <button type="submit" 
                        class="btn btn-success pull-right"
                        [disabled]="!form.valid || isLoading">
                        <span *ngIf = "!isLoading">{{isEditMode?"Update":"Save"}}
                            </span>

                        <span *ngIf = "isLoading">{{isEditMode?"Updating...":"Saving..."}}
                        </span>

                </button>
            </div>
        </form>
        <spinner [visible]='isLoading'></spinner>
        <p class="text-danger" *ngIf= 'failedToLoad && !notFound'>Could not retrieve the customerAcc. Please check your network settings</p>
        <p class="text-danger" *ngIf= 'notFound'>The customerAcc does not exist or might have been removed</p>
    </my-template-body>
</my-template>
                        
                    