   <!-- Content Header (Page header) -->
        
        <!--<modal #modal>
            <modal-header>
                Edit Branch
            </modal-header>
            <modal-body>
                <addBranch></addBranch>
            </modal-body>
            <modal-footer [show-default-buttons]="true"></modal-footer>
        </modal>-->
      
        <my-report-template>
            <my-report-template-title>
                <h3 class="box-title">Search</h3>
                
            </my-report-template-title>
            
            <my-report-template-form>
                <search [isSearching]="isSearching" (onSearch)="doSearch($event)"></search>
 
            </my-report-template-form>
            
            <my-report-template-title-2>
                Customers 
            </my-report-template-title-2>
            
            <my-report-template-column-rows>
                <table-option (page-size-changed)=pageSizeChanged($event)></table-option>
               
                 <table id="" class="table table-bordered table-striped" >
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf = '!isLoading' >
                    
                        <tr  *ngFor="let item of _data">
                            <td>{{item.customerID}}</td>
                            <td>{{item.firstName}}</td>
                            <td>{{item.lastName}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.gender==1?"Male":"Female"}}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td> 
                                <button class="btn btn-primary btn-xs" (click)="gotoDetailsPage(item.id)" title="Edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button> 
                           </td>
                            
                        </tr>
                        
                    </tbody>
                    
                </table>
                <spinner [visible]='_isLoading'></spinner>

                <div *ngIf = "_total == 0">
                    <span>No result to display</span>
                </div>

                <div class="my-pagination" *ngIf = "_total != 0">
                    <pagination [totalCount]="_total" [page-size]="_pageSize" 
                        (page-changed)= "onPageChanged($event)"></pagination>
                </div>

                    
                
            </my-report-template-column-rows>
            
            
            
        </my-report-template>
                        
                    