   <!-- Content Header (Page header) -->
        
        <!--<modal #modal>
            <modal-header>
                Edit Branch
            </modal-header>
            <modal-body>
                <addBranch></addBranch>
            </modal-body>
            <modal-footer [show-default-buttons]="true"></modal-footer>
        </modal>-->
      
        <my-report-template>
            <my-report-template-title>
                <h3 class="box-title">Search</h3>
                
            </my-report-template-title>
            
            <my-report-template-form>
                <search [isSearching]="isSearching" (onSearch)="doSearch($event)"></search>
                <!--<form role="form" #f="ngForm"  [ngFormModel]="form" (ngSubmit)="submit()">-->
                <!--<form role="form"   [formGroup]="form" (ngSubmit)="submit()">
                    <div class="box-body">
                        <div class="form-group col-md-6 no-left-pad" 
                            [class.has-error]="form.controls.name.touched && form.controls.name.errors">
                            <label for="">Branch Name</label>
                            <input  type="text" placeholder="Branch Name"
                                formControlName = "name"  class="form-control">
                            
                            <div *ngIf="form.controls.name.touched && form.controls.name.errors">
                                <span
                                    *ngIf = form.controls.name.errors.required 
                                    >
                                    <i class="fa fa-times-circle-o"></i>  
                                    Branch Name is required
                                </span>
                            </div>
                        </div>               
                    </div>
                    <div class="box-footer">
                    <button type="submit" 
                            class="btn btn-primary"
                            [disabled]="!form.valid">
                            Submit</button>
                    </div>
                </form>-->
            </my-report-template-form>
            
            <my-report-template-title-2>
                Branches 
            </my-report-template-title-2>
            
            <my-report-template-column-rows>
                <table-option (page-size-changed)=pageSizeChanged($event)></table-option>
                <!--<div class="my-table-options">
                    
                    <select #selPageSize  (change)="pageSizeChanged(selPageSize.value)">
                        <option value="2">2</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>

                </div>-->

                 <table id="" class="table table-bordered table-striped" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Operation Status</th>
                            <th> </th>
                            <!--<th></th>-->
                        </tr>
                    </thead>
                    <tbody *ngIf = '!isLoading' >
                        <!--<tr (click)="gotoDetailsPage(item.id)" *ngFor="#item of _data | 
                                        paginate: { id: 'server', itemsPerPage: _pageSize, 
                                                    currentPage: _page, totalItems: _total} #i = index">
                            <td>{{item.name}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.isBranchOpen ?'Open':'Closed'}}</td>
                            
                        </tr>-->
                        <tr  *ngFor="let item of _data">
                            <td>{{item.name}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.isBranchOpen ?'Open':'Closed'}}</td>
                            <td> 
                                <button class="btn btn-primary btn-xs" (click)="gotoDetailsPage(item.id)" title="Edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button> 
                           </td>
                            
                        </tr>
                        
                    </tbody>
                    
                </table>
                <spinner [visible]='_isLoading'></spinner>

                <div *ngIf = "_total == 0">
                    <span>No result to display</span>
                </div>

                <div class="my-pagination" *ngIf = "_total != 0">
                    <pagination [totalCount]="_total" [page-size]="_pageSize" 
                        (page-changed)= "onPageChanged($event)"></pagination>
                </div>

                    
                
            </my-report-template-column-rows>
            
            
            
        </my-report-template>
                        
                    