   <!-- Content Header (Page header) -->
       <div class="wrapper">

      <nav-header (sign-out)="signOut()"></nav-header>
      
      <my-side-bar></my-side-bar>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
            <section class="content-header">
            <span>Tab</span>
            </section> 
        
            <section class="content">
         
                <div class="my-search-box">
                   
                    <!--<div class="box box-primary">  
                        <div class="box-header with-border">
                            <ng-content select="my-report-template-title"></ng-content>
                        </div><!-- /.box-header <-->
                        
                            
                            
                            <ng-content select="my-report-template-form"></ng-content>
                           
                                 
                  </div>
               
                    <div class="box my-box">
                        <div class="box-header my-box-header">
                            <p class="my-header-title">
                                <ng-content select="my-report-template-title-2"></ng-content>
                            </p>
                            
                        </div><!-- /.box-header -->
                        <div  class="box-body my-box-body">
                            <!--<table-option (page-size-changed)=pageSizeChanged($event)></table-option>-->
                            <!-- <div class="my-table-options">
                                
                                <select #selPageSize  (change)="_pageSize = selPageSize.value">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                <span>{{_pageSize}}</span>
                                
                                
                            </div> -->
                            <!--<table id="example1" class="table table-bordered table-striped">-->
                                <ng-content select="my-report-template-column-rows"></ng-content>
                            <!--</table>-->
                            
                        </div>
                    </div> <!--/.box -->
                   
                  

            </section>
        </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <strong>Copyright &copy;{{currentYear}} Core Banking Application</strong>
      </footer>

    </div>
        <!-- Main content -->
        