   <!-- Content Header (Page header) -->
        
            
           
    <div class="wrapper">

      <nav-header (sign-out)="signOut()"></nav-header>

      <my-side-bar></my-side-bar>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <section class="content-header clearfix">
          <!--<span>Tab</span>-->
          <div style="padding-left:15px">
            <!--<nav-button></nav-button>-->
          </div>
          
        </section> 
        <section class="content">   
         
            <div>
                
                <div class="box box-primary">  

                    <div class="box-header with-border">
                        <ng-content select="my-template-title"></ng-content>
                    </div><!-- /.box-header <-->
                    
                    <ng-content select="my-template-body"></ng-content>          
                    
                </div>
                
                <ng-content select="my-template-form"></ng-content>  
            </div>   

        </section>          
        <!--<addBranch></addBranch>-->
      </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <strong>Copyright &copy;{{currentYear}} Core Banking Application</strong>
      </footer>

    </div>
        <!-- Main content -->
        