
 <my-template>
            <my-template-title>

                <h3 class="box-title">Branch Details</h3>

                <back-button (backButtonClicked)="gotoReportPage($event)"></back-button>

            </my-template-title>
            
            <my-template-body>
                 
                    <div class="box-body">

                       <div  *ngIf ='!isLoading' class="row">
                           <div class="col-md-6">
                               <span>Branch Name:</span>
                               <span class="label label-default">{{branch?.name}}</span>
                           </div>
                           <div class="col-md-6">
                               <span>Branch Addresss:</span>
                                <span class="label label-default">{{branch?.address}}</span>
                           </div>
                      </div>   
                      <div class="row">
                          <spinner [visible]='isLoading'></spinner>
                      </div>               
                      
                    </div>

                    <!--<detail-view-footer 
                            [editPageLink]="['/BranchManagement/Edit',branch?.id]"
                            [reportPageLink]="['/BranchManagement']">
                            </detail-view-footer>-->

                    <detail-view-footer (editButtonClicked)="gotoEditPage($event)"></detail-view-footer>        


                    <!--<div class="box-footer">
                        <a class="btn btn-primary pull-right" 
                            [class.disabled] = 'isLoading || failedToLoad'
                             [routerLink]="['/BranchManagement/Edit',branch?.id]" role="button">Edit Branch</a>

                        <a class="btn btn-default pull-left" 
                            [class.disabled] = 'isLoading || failedToLoad'
                             [routerLink]="['/BranchManagement']" role="button">Back to Report Page</a>
                   </div>-->
                   
                    <!--
                        <button type="submit" 
                                class="btn btn-primary"
                                [disabled]="!f.valid">
                                Edit Branch
                        </button>
                  </div>-->
                
            </my-template-body>
        </my-template>